<div id="<%= dom_id mainly_facility %>">
  <p>
    <strong>Name:</strong>
    <%= mainly_facility.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= mainly_facility.code %>
  </p>

  <p>
    <strong>Initcost:</strong>
    <%= mainly_facility.initCost %>
  </p>

  <p>
    <strong>Datestartusing:</strong>
    <%= mainly_facility.dateStartUsing %>
  </p>

  <p>
    <strong>Dateendusing:</strong>
    <%= mainly_facility.dateEndUsing %>
  </p>

  <p>
    <strong>Codeendusing:</strong>
    <%= mainly_facility.codeEndUsing %>
  </p>

  <p>
    <strong>Regulatorytermservices:</strong>
    <%= mainly_facility.regulatoryTermServices %>
  </p>

  <p>
    <strong>Accumulateddepreciaton:</strong>
    <%= mainly_facility.accumulatedDepreciaton %>
  </p>

  <p>
    <strong>Residualvalue:</strong>
    <%= mainly_facility.residualValue %>
  </p>

</div>
